extends layout

block content
    .container.center-block.linkedInlogin
        h2.text-center Create Custom Meishi
        p.text-center.by-line.text-muted amaze your friends!
        .container.center-block.linkedinbtn
            a(href="/auth")
                button.linkedInimg