doctype html
html(lang='en' ng-app="meishi")
    head
        meta(charset="utf-8")
        title Meishi
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/main.css")

    body
        block content
        
        script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js")
        script(src="/scripts/main.js")
        